{#TODO: сделать нормальную работу сайдбара с collapse#}
<nav class="col-lg-2 d-lg-block bg-light col-md-auto sticky-top position-fixed">
    <div class="d-md-block d-lg-none">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="navbarsExample08" aria-expanded="true" aria-label="Toggle navigation">
            <i class="fas fa-th-list"></i>
        </button>
    </div>
    <div id="sidebar" class="mt-lg-5 mt-md-1">
        {% if access_helper.canEdit and not access_helper.isViewVersionPage %}
            <button id="project-save-btn" type="button" class="btn btn-primary btn-lg mb-2">
                {{ 'button.save.save'|trans }}
            </button>
            {% if access_helper.isMainAccess%}
                <button id="project-modal_links-btn" type="button" class="btn btn-outline-info mb-2">
                    {{ 'Links config'|trans  }}
                </button>
            {% endif %}
        {% endif %}

        {% if access_helper.canComment %}
            <button id="project-save-comments-btn" type="button" class="btn btn-primary btn-lg">
                {{ 'button.save.comments'|trans }}
            </button>
        {% endif %}

        <div class="dropdown mb-2">
            <a id="project_download_btn" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true">
                {{ 'button.download.download'|trans }}
            </a>
            <div class="dropdown-menu" aria-labelledby="project_download_btn">
                <a class="dropdown-item" href="{{ url('project_download', {'identifier': access_helper.identifier, 'version': project.selectedVersion, 'fileType': 'pdf'}) }}">
                    {{ 'button.download.pdf'|trans }}
                </a>
                <a class="dropdown-item" href="{{ url('project_download', {'identifier': access_helper.identifier, 'version': project.selectedVersion, 'fileType': 'tex'}) }}">
                    {{ 'button.download.latex'|trans }}
                </a>
            </div>
        </div>

        {% if access_helper.isMainAccess %}
            <div id="comments_dropdown" class="dropdown nav">
                <a id="comments_dropdown_view" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true">
                    {{ 'project.comments'|trans }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="comments_dropdown_view">
                    <div id="comments_dropdown_spinner" class="text-center">
                        <div class="spinner-border">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div id="comments_dropdown_content_exist">
                        <h6 class="dropdown-header">{{ 'label.comments.exist'|trans }}</h6>
                        <div id="comments_dropdown_content_exist_list">
                        </div>
                        <div class="dropdown-divider"></div>
                        <a id="comments_dropdown_read_all_btn" class="dropdown-item">{{ 'label.comments.read_all'|trans }}</a>
                    </div>
                    <div id="comments_dropdown_content_empty">
                        <h6 class="dropdown-header">{{ 'label.comments.empty'|trans }}</h6>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</nav>