<div class="modal fade" id="table_block-modal_add_column" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title column_add">
                    {{ 'page.table.modal.main_label.add_column'|trans }}
                </h5>
                <h5 class="modal-title column_edit">
                    {{ 'page.table.modal.main_label.edit_column'|trans }}
                </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'button.close'|trans }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="table_block-modal_add_column_field_column_name" class="col-form-label">
                        {{ 'page.table.modal.column_name'|trans }}
                    </label>
                    <input id="table_block-modal_add_column_field_column_name" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="table_block-modal_add_column_field_width" class="col-form-label">
                        {{ 'page.table.modal.column_width'|trans }}
                    </label>
                    <input id="table_block-modal_add_column_field_width" type="number" class="form-control" min="0" max="5">
                </div>
                <div class="form-group">
                    <label for="table_block-modal_add_column_field_text_align">{{ 'page.table.modal.text_align'|trans }}</label>
                    <select id="table_block-modal_add_column_field_text_align" class="form-control">
                        {% for text_align in constant('App\\Entity\\WorkProgram\\TablePage::TEXT_ALIGNS') %}
                            <option value="{{ text_align }}">
                                {{ ('page.table.modal.text_aligns.'~text_align)|trans }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="table_block-modal_add_column_field_text_size">{{ 'page.table.modal.text_size'|trans }}</label>
                    <select id="table_block-modal_add_column_field_text_size" class="form-control">
                        {% for text_size in constant('App\\Entity\\WorkProgram\\TablePage::TEXT_SIZES') %}
                            <option value="{{ text_size }}">
                                {{ ('page.table.modal.text_sizes.'~text_size)|trans }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="table_block-modal_add_column_field_text_orientation">{{ 'page.table.modal.text_orientation'|trans }}</label>
                    <select id="table_block-modal_add_column_field_text_orientation" class="form-control">
                        {% for text_orientation in constant('App\\Entity\\WorkProgram\\TablePage::TEXT_ORIENTATIONS') %}
                            <option value="{{ text_orientation }}">
                                {{ ('page.table.modal.text_orientations.'~text_orientation)|trans }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <input id="table_block-modal_column_hidden_colNum" name="colNum" type="hidden">
                <input id="table_block-modal_column_hidden_blockId" name="blockId" type="hidden">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    {{ 'button.close'|trans }}
                </button>
                <button id="table_block-modal_btn_column_add" type="submit" class="btn btn-primary column_add">
                    {{ 'button.add.column'|trans }}
                </button>
                <button id="table_block-modal_btn_column_edit" type="submit" class="btn btn-primary column_edit">
                    {{ 'button.save.column'|trans }}
                </button>
                <button id="table_block-modal_btn_column_delete" type="submit" class="btn btn-danger column_edit">
                    {{ 'button.delete.column'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>