{% block _project_edit_main_page_approver_widget %}
<div class="row">
    <div class="col">
        {{ form_row(form.rank) }}
    </div>
    <div class="col">
        {{ form_row(form.fio) }}
    </div>
</div>
{% endblock %}

{% block _project_edit_main_page_date_block_widget %}
    <div class="row">
        <div class="col-3">
            {{ form_row(form.day, {'type': 'number'}) }}
        </div>
        <div class="col-6">
            {{ form_row(form.month) }}
        </div>
        <div class="col-3">
            {{ form_row(form.year, {'type': 'number'}) }}
        </div>
    </div>
{% endblock %}