{% extends 'project/base.html.twig' %}

{% block content %}
    <p class="text-center">{{ 'Version'|trans }} {{ project.currentVersion }}</p>

    {{ form_start(comments_form) }}
    {{ form_errors(comments_form) }}
    {% for url in get_project_page_image_urls(project) %}
        <div class="row">
            <div class="col page-comments-block" data-num="{{ loop.index0 }}">
                {% if comments_form.all_comments[loop.index0] is defined %}
                    {{ form_widget(comments_form.all_comments[loop.index0]) }}
                {% endif %}
            </div>
            <div class="page-image"><img src="{{ url }}" alt="page_image_{{ loop.index }}"></div>
        </div>
    {% endfor %}
    {{ form_rest(comments_form) }}
    {{ form_end(comments_form) }}
{% endblock %}