{% extends 'base.html.twig' %}

{% block title %}Edit "{{ project.name }}"{% endblock %}

{% block body %}
    <h1 class="text-center">{{ project.name }}</h1>

    {% include 'project/parts/select_version.html.twig' with {
        'project': project,
        'form': select_version_form
    } only %}

    <div class="row">
        <div class="col">
            {{ form_start(project_form) }}
            {{ form_widget(project_form) }}
            {{ form_end(project_form) }}
        </div>

        <div class="col">
            {% for page_num in 1..project.getPagesByVersion(project.selectedVersion).count %}
                <div style="border: black solid 1px">
                    <img src="/images/project/{{ project.identifier }}/{{ project.selectedVersion }}/image_{{ page_num }}.png" alt="" height="100%" width="100%">
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block footer %}
    {% if project.currentVersion == project.selectedVersion %}
        {% include 'project/parts/buttons_block.html.twig' with {'project': project} only %}
    {% endif %}
{% endblock %}