{% extends 'project/base.html.twig' %}

{% block content %}
    {% if project_name_form is defined and access_helper.isMainAccess %}
        {% include 'project/parts/project_name.html.twig' with {
            'project': project,
            'form': project_name_form
        } only %}
    {% endif %}

    {% if select_version_form is defined and project.currentVersion > 1  and access_helper.canEdit() %}
        {% include 'project/parts/select_version.html.twig' with {
            'project': project,
            'form': select_version_form
        } only %}
    {% endif %}

    <div class="row">
        <div class="col">
            {% if project_form is defined %}
                {{ form_start(project_form) }}
                {{ form_widget(project_form) }}
                {{ form_end(project_form) }}
            {% endif %}
        </div>

        <div class="col">
            {% for url in get_project_page_image_urls(project) %}
                <div class="page-image"><img src="{{ url }}" alt="page_image_{{ loop.index }}"></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}