{% extends 'project/base.html.twig' %}

{% block content %}
    <p class="text-center">{{ 'Version'|trans }} {{ project.currentVersion }}</p>

    <div class="row">
        <div class="col">
            {% if project_form is defined %}
                {{ form_start(project_form) }}
                {{ form_widget(project_form) }}
                {{ form_end(project_form) }}
            {% endif %}
        </div>

        <div class="col">
            {% for page in project.getPagesByVersion(project.selectedVersion) %}
                {{ render_page_image(project, loop.index)|raw }}
            {% endfor %}
        </div>
    </div>
{% endblock %}